[user]
	name = kento.toriumi
	email = kento.toriumi@gmail.com

[alias]
# use 'git h <command>' for help, use 'git la' to list aliases  =====
#

# alias	=====
alias	=	"!grep '\t=' ~/.gitconfig | less" # xxx
al	=	!git alias

# commit	=====
c	=	commit
cm	=	commit -m
ca	=	commit --amend
c-empty  =	commit --allow-empty

# push	=====
p	=	push
pf	=	push --force-with-lease

# status        =====
st      =       status

# branch        =====
b	=	branch
b-all  = branch -a -vv
b-current  = branch --show-current

# switch        =====
sw  =  switch

# log	=====
graph	=	log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
gr	=	!git graph

#	reset	=====

#	fetch	=====
f	=	fetch -v


[ghq]
	root = ~/ghq
